@model List<WebUI.Infrastructure.Abstract.IProduct>

@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Welcome!</title>
</head>
<body>
    <div>
  @*      @foreach (var item in Model)
        {
            @item.Name
            <br />
        }*@
    </div>
</body>
</html>
